/bin
/obj
/log/*
.vagrant
Makefile
*.make
*.xcodeproj
*.opensdf
*.sdf
*.sln
*.suo
*.vcxproj*
*.log
*.d
*.o
*.a
*.vsp
*.psess
*.tlog
*.idb
*.pdb
*.obj
*.ilk
*.lastbuildstate
*.vsglog
*.cache
*.properties
*.java
*.jar
*.ini
*.make
proguard-project.txt
default.properties
build.xml
build.properties
gen
res
assets
AndroidManifest.xml
doc

Info.plist
.DS_Store
/streamer